#footerContainer{
    padding: 1rem 0.8rem;
}
#copyright{

    margin-left: -2rem;
}
.icon{
    padding-right: 1rem;
}
@media (max-width:862px) {
    #footerContainer{
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
}
@media (max-width:362px) {
    #design{
        font-size: 0.8rem;
    }
}